@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');;

$blue: #3F51B5;
$grey: #141414;
$lightgrey: #252525;
$green: #4CAF50;
$purple: #673AB7;

$Roboto: 'Roboto', sans-serif;;