@import "master";

.currentlyReading, .wantToRead, .read {
  border-bottom: 0.5em solid $yellow;
  color: #fff;
  @include flexCenter();
  flex-direction: column;

  h1 {
    padding: 0em 1em;
  }

  .book {
    @include flexCenter();
    flex-direction: row;
    padding: 2em;
    max-width: 75vw;

    img {
      margin: 2em;
      border: 0.25em solid #fff;
    }
  }

  .title {
    font-size: 1.75em;
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      text-decoration-color: $yellow;
    }
  }

  .authors {
    display: flex;
    padding-right: 1em;
    font-style: italic;

    p {
      padding-right: 0.5em;
    }
  }

  .subtitle {
    font-size: 1.4em;
  }

  .bookInfo {
    .author {
      font-style: italic;
    }
  }

  select {
    background-color: $grey;
    border: none;
    padding: 0.5em;
    border-radius: 0.4em;
    outline: none;
    color: #fff;

    &:focus {
      outline: 0.2em solid $yellow;
    }
  }
}
