@import "master";

.container {
  .info {
    @include flexCenter();
    flex-direction: column;

    h1 {
      color: #fff;
    }

    .link {
      color: $green;
      text-decoration: underline;
      transition: 0.2s ease;

      &:hover {
        transform: scale(1.1);
        transition: 0.2s ease;
      }
    }

    .img {
      width: 30%;
    }
  }
}
